<%= form_with(model: exame_medico) do |form| %>
  <% if exame_medico.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exame_medico.errors.count, "error") %> prohibited this exame_medico from being saved:</h2>

      <ul>
        <% exame_medico.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :tipo %>
    <%= form.text_field :tipo %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, [['Ativo', true], ['Inativo', false]] %>
  </div>

  <div class="field">
    <%= form.label :laboratorio_id %>
    <%= form.select("laboratorio_id", @laboratorio_options, { include_blank: 'Selecione...' }, class:"form-control") %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
