<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @exame_medico.nome %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @exame_medico.tipo %>
</p>

<p>
  <strong>Status:</strong>
  <%= @exame_medico.status %>
</p>

<p>
  <strong>Laboratorio:</strong>
  <%= @exame_medico.laboratorio_id %>
</p>

<%= link_to 'Edit', edit_exame_medico_path(@exame_medico) %> |
<%= link_to 'Back', exame_medicos_path %>
