<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @exame_medico.nome %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @exame_medico.tipo %>
</p>

<p>
  <strong>Status:</strong>
  <%= humanize_boolean(@exame_medico.status) %>
</p>

<p>
  <strong>Laboratorio:</strong>
  <%= @exame_medico.laboratorio.nome %>
</p>

<%= link_to 'Editar', edit_exame_medico_path(@exame_medico) %> |
<%= link_to 'Voltar', exame_medicos_path %>
