<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @laboratorio.nome %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @laboratorio.endereco %>
</p>

<p>
  <strong>Status:</strong>
  <%= humanize_boolean(@laboratorio.status) %>
</p>

<%= link_to 'Editar', edit_laboratorio_path(@laboratorio) %> |
<%= link_to 'Voltar', laboratorios_path %>
